



<!--

<div class="newTask">
  <div class="title1">CREATE NEW TASK</div>
  <div >
    <form method="post" action="../../task/app/controller/c_task.php">

        <div class="w3-row">
          <div  class="createTaskLabel w3-half">Task</div>
          <div class="w3-half">
              <input class="w3-input w3-border" type="text" name="task">
          </div>

        </div>


        <div class="w3-row sel">
          <div  class="createTaskLabel w3-half">Employee</div>

          <div class="w3-half">
            <select id="id01" class="employee">
                <option w3-repeat="employees">{{employee}}</option>
            </select>
          </div>

        </div>

          <script>
            w3.getHttpObject("../../task/app/view/json/employees.json", myFunction);

            function myFunction(myObject) {
              w3.displayObject("id01", myObject);
            }
          </script>

        <button class="w3-btn w3-blue-grey submit">Create</button>
    </form>

  </div>

</div> -->
